body {
    background-color: var(--color-black);
    margin: 0;
}

.landing-container {
    position: relative;
    overflow: hidden;
    height: calc(100vh - 70px);
    width: 100%;
    background-image: url("~/img/glowing-portal.jpg");
    background-size: cover;
    background-position: 20% 10%;
    background-repeat: no-repeat;
}

.landing-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-120%, -50%);
    text-align: center;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

@media (max-width: 768px) {
    .landing-container {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: calc(100vh-70px);
        background-image: url("~/img/glowing-portal.jpg");
        background-size: cover;
        /* ensure it covers container */
        background-position: center;
        display: flex;
        flex-flow: column;
        align-items: center;
        /* center the image */
        background-repeat: no-repeat;
    }

    .landing-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* perfectly center */
        display: flex;
        flex-direction: column;
        /* stack items vertically */
        align-items: center;
        /* horizontal centering */
        text-align: center;
        /* center text */
    }
}

.btn-glass {
    margin-top: 10px;
    font-size: 0.9rem;
    padding: 15px 25px;
    font-size: 1rem;
    color: var(--color-white);
    text-decoration: none;
    border-radius: 12px;
    background: rgba(44, 172, 211, 0.5);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(44, 172, 211, 1);
    transition: 0.3s;
}

.btn-glass:hover {
    background: rgba(44, 172, 211, 1);
    border-color: rgba(44, 172, 211, 1);
}

.landing-text {
    font-size: 3rem;
    text-align: start;
}

.landing-img {
    transform: translate(25%, 5%);
}

.lnading-text-container {
    display: flex;
    justify-content: start;
    text-align: start;
}