#login-page {
    max-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    user-select: none;
}

#login-container {
    width: 60vw;
}