<main id="login-page">
    <main class="auth-form-container" id="login-container">
        <header>Login</header>
        <form asp-action="Login" method="post" id="login-form">
            <div>
                <input type="email" class="text-input" id="Email" name="Email" placeholder="Email" value="@Model?.Email"
                    required />
            </div>
            <div>
                <input type="password" class="text-input" id="Password" name="Password" placeholder="Password"
                    required />
            </div>
            <label class="checkbox-container">
                <input type="checkbox" id="RememberMe" name="RememberMe" value="true" @(Model?.RememberMe == true ?
                                                                                                          "checked" : "") />
                <span class="checkmark"></span>
                Remember me?
            </label>
            <button type="submit" id="submit">Login</button>
            <div class="auth-links">
                <a href="/Auth/ForgotPassword">Forgot Password?</a>
                <a href="/Auth/Register">Create an Account→</a>
            </div>
        </form>
        <p style="color:red">@ViewBag.Error</p>
    </main>
</main>