<div class="landing-container">
    <img src="~/img/glowing-portal.jpg" class="landing-img" />

    <div class="landing-overlay">
        <div class="landing-text-container">
            <h1 class="landing-text">Portal to a Safer</h1>
            <h1 class="landing-text">Digital World</h1>
        </div>
        <a class="btn-glass" asp-controller="Auth" asp-action="Login">
            Get Started
        </a>
    </div>
</div>