<nav class="nav">
    <a class="nav-logo" asp-controller="Home" asp-action="Index">
        UserPortal
    </a>
    @if ((bool)(ViewData["IsLoggedIn"] ?? false))
    {
        <a class="nav-logo" asp-controller="User" asp-action="Profile">
            Logged IN
        </a>
    }
    else
    {
        <!-- Text link for desktop -->
        <a class="nav-logo" id="nav-login-text" asp-controller="Auth" asp-action="Login">
            Login
        </a>

        <!-- Icon link for small screens -->
        <a class="nav-logo" id="nav-login-icon" asp-controller="Auth" asp-action="Login">
            <img src="~/icon/login.png" alt="Login" />
        </a>
    }
</nav>
