main.auth-form-container {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

main.auth-form-container header {
  font-size: 2.1rem;
  font-family: var(--font-primary);
  margin-bottom: 20px;
  margin-top: 20px;
}

#login-form {
  display: flex;
  font-family: var(--font-primary);
  flex-direction: column;
  width: 100%;
  padding: 40px 20px;
  gap: 15px;
}

#login-form .text-input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: var(--color-white);
  outline: none;
  border-radius: 5px;
  font-size: 0.95rem;
}

#login-form .text-input:focus {
  background-color: rgba(255, 255, 255, 0.2);
  /* slightly brighter */
  border: 1px solid var(--color-primary);
  /* accent border */
  box-shadow: 0 0 5px var(--color-primary);
  /* glow effect */
}


.checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 6px;
  font-size: 0.9rem;
}

/* Hide the native checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom box */
.checkmark {
  width: 18px;
  height: 18px;
  border-radius: 4px;
  background-color: #ccc;
  /* color when unchecked */
  transition: background-color 0.2s ease;
}

/* Change background when checked */
.checkbox-container input:checked+.checkmark {
  background-color: var(--color-secondary);
  /* color when checked */
}

.checkmark::after {
  content: "";
  display: none;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  position: relative;
  left: 6px;
  top: 2px;
}

.checkbox-container input:checked+.checkmark::after {
  display: block;
}

#submit {
  background-color: var(--color-primary);
  width: 100%;
  max-width: 200px;
  margin: 0 0 0 auto;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-family: var(--font-primary);
  font-size: 1.2rem;
  color: var(--color-white);
}

.auth-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.auth-links a {
  color: var(--color-white);
  text-decoration: none;
  font-family: var(--font-primary);
  font-size: 0.9rem;
}


.auth-links a:hover {
  text-decoration: underline;
  color: var(--color-secondary);
  transition: all 0.3s ease;
}

#login-form .text-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  /* lighter, subtle hint */
  font-family: var(--font-primary);
}

#login-form .text-input {
  transition: all 0.2s ease-in-out;
}