.nav {
    background-color: var(--color-black);
    height: 70px;
    width: 100%;
    display: flex;
    z-index: 10;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav-logo {
    color: var(--color-white);
    font-size: 2em;
    font-family: "Prosto One", cursive;
    text-decoration: none;    
}